<section id="question">
  <div class="question-title">
    <h5>【質問】</h5>
    <p><%= @question.title %></p>
  </div>
  <hr>
  <div class="question-detail">
    <h5>【詳細】</h5>
    <p><%= markdown(@question.detail) %></p>
  </div>
  <hr>
  <div class="solutions">
    <% @question.solutions.each do |solution| %>
      <h5>【回答】</h5>
      <div class="solution-detail">
        <p><%= solution.detail %></p>
      </div>
    <% end %>
  </div>
  <div class="mt-5 question-form">
    <h3 class="pt-5">回答投稿</h3>
    <%= form_with model:[@question,@solution], local: true do |f| %>
          <%= f.label :detail, "[回答]",class: "control-label my-2" %>
          <%= f.text_area :detail,class: 'form-control', rows: "8" %>
          <%= f.submit "送信",class: "btn btn-primary btn-block mt-4 py-2"%>
    <% end %>
  </div>
</section>