<% if controller_name == "movies" && @search_category == @default_categories %>
  <div class="form-control-range mt-5">
    <form class="mb-3 search-form mx-auto">
      <i class="fa fa-search search-icon" title="Search"></i>
      <input type="text" id="search-movies" class="form-control search-text"
              placeholder="動画教材を探す" aria-label="Username" aria-describedby="search-form">
    </form>
  </div>
<% end %>

<form>
  <div class="form-group">
    <label class="control-label">タグで動画教材を探す</label>
    <% @most_used_tags.each_with_index do |tag_data, i| %>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" id="tagSelect<%= i %>" checked>
          <label class="form-check-label" for="tagSelect<%= i %>"><%= tag_data.name %> </label>
      </div>
    <% end %>
  </div>
</form>

<div class="field">
</div>

<%= form_tag(movies_path, method: "get") do %>
  <%= label :tag_list, "タグで動画教材を探す" %><br>
  <%= text_field_tag :tag_list, @most_used_tags.join(','), class: "form-control" %>
  <%= submit_tag "送信",class: "btn btn-primary btn-block mt-4 py-2"%>
<% end %>

<section id="movie">
  <div class="default-video">
    <%= render partial: 'shared/video', collection: @movies, as: "video" %>
    <%= paginate @movies%>
  </div>
  <div class="searched-video hidden">
    <%= render partial: 'shared/search', collection: @search_movies, as: "video"%>
  </div>

</section>
