<% if controller_name == "movies" && @search_category == @default_categories %>
  <div class="form-control-range mt-5">
    <form class="mb-3 search-form mx-auto">
      <i class="fa fa-search search-icon" title="Search"></i>
      <input type="text" id="search-movies" class="form-control search-text"
              placeholder="動画教材を探す" aria-label="Username" aria-describedby="search-form">
    </form>
  </div>

<div class="field">
</div>

<div class="tag-search border border-info py-2">
  <h5 class="text-center">タグ検索</h5>
  <div class="tag-btns">
  <%= link_to "すべて(#{@tags.count})", movies_path, class:"btn btn-info m-1" %>
  <% @tags.each do |tag| %>
    <%= link_to "#{tag.name} (#{tag.count})", movies_path(tag_name: tag.name), class:"btn btn-sm btn-info m-1" %>
  <% end %>
  </div>
</div>

<% end %>

<section id="movie">
  <div class="default-video">
    <%= render partial: 'shared/video', collection: @movies, as: "video" %>
    <%= paginate @movies%>
  </div>
  <div class="searched-video hidden">
    <%= render partial: 'shared/search', collection: @search_movies, as: "video"%>
  </div>

</section>
