



<div class="fixed-top <%= background_color_class %>">
  <nav class="navbar navbar-expand-lg navbar-dark mx-auto">
    <%= link_to "Gyakuten", root_path, class:"navbar-brand ml-4" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a href="" class="nav-link active dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >Rails</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "動画教材", movies_path, class:"nav-item nav-link active text-primary" %>
            <%= link_to "テキスト教材",texts_path, class:"nav-item nav-link active text-primary" %>
            <%= link_to "ライブコーディング", movies_path(category: "Live"), class:"nav-item nav-link active text-primary" %>
            <%= link_to "質問集", questions_path, class:"nav-item nav-link active text-primary" %>
            <!-- <a href="questions" class="nav-item nav-link active text-primary">質問集</a> -->
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "AWS講座", aws_texts_path, class:"nav-link active" %>
          <!-- <a class="nav-link active" href="aws_texts">AWS講座</a> -->
        </li>
        <li class="nav-item">
          <%= link_to "PHP講座", movies_path(category: "Php"), class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "対談", movies_path(category: "Talk"), class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "情報発信", movies_path(category: "Marketing"), class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "動画編集講座", movies_path(category: "Movie"), class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "ライティング講座", movies_path(category: "Writing"), class:"nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "LINE@", lines_path, class:"nav-link active" %>
        </li>

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link active" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class:"nav-link active"%>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class:"nav-link active" %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
